Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIID8jCCAtoCCQCqaafjJrR/vTANBgkqhkiG9w0BAQUFADCBujELMAkGA1UEBhMC
      QVQxDzANBgNVBAgTBlZpZW5uYTEPMA0GA1UEBxMGVmllbm5hMRUwEwYDVQQKEwxU
      YXdhbiBTaWVyZWsxCzAJBgNVBAsTAklUMT4wPAYDVQQDEzVhY3RpdmUtZWxhc3Rp
      Yy1qb2IyLmV1LWNlbnRyYWwtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTElMCMGCSqG
      SIb3DQEJARYWdGF3YW4uc2llcmVrQGdtYWlsLmNvbTAeFw0xNjAzMjkxNzAwNTNa
      Fw0xNzAzMjkxNzAwNTNaMIG6MQswCQYDVQQGEwJBVDEPMA0GA1UECBMGVmllbm5h
      MQ8wDQYDVQQHEwZWaWVubmExFTATBgNVBAoTDFRhd2FuIFNpZXJlazELMAkGA1UE
      CxMCSVQxPjA8BgNVBAMTNWFjdGl2ZS1lbGFzdGljLWpvYjIuZXUtY2VudHJhbC0x
      LmVsYXN0aWNiZWFuc3RhbGsuY29tMSUwIwYJKoZIhvcNAQkBFhZ0YXdhbi5zaWVy
      ZWtAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0rU+
      81sJl5h4paH6H6KToR1M5RezjMXQo9GIUu2evgd9Li0nRFsm9EVKnhGAMKAVjxc+
      NLrqB/hx7GYepLvioGG6L0YYadZxf5Tr9gDAYJ9v/+aaHZ9nVvxpkUn6fMyDHCNg
      /XaQCUj+QvnqUoK7viX/H/oJfU+tRXFE74WRtB6UpeBKNs2VoGjw0Emf/I/Tuh3a
      LGCdQs+jJObdXbxP0pXsRqUJOH1azJWv6CAA7JW+/RRog5maxJPx4VOXNO+S5vN4
      hWySq/ILl97y2RAAoTLukTJaO3tGDsLfgw0/ocff6DUGtArj7lkdpc8vkR3/98fc
      WuC2fNmwaDrXLb81ewIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQAnD7u4ApQgKy1Z
      f2z9oaR465XBChNUQ9CWwlSV8ihAuEzFe9u7lLvmDVy8bOTvqBM5EzYeXpJH0RVC
      l6L1Y7RVpwPnU/4N1M04KO0oucn2ZTmfX/6lplJFB32/Gtg/XW2vULTb2wsOur2B
      GIaEs3FSFFtAVCxKTYFkdkWBHzkCmvsJJco/En5+2OzqGU42ACL1WUQXQzG3MlLX
      USXHWqyXy3KsAkZrtdVtbGKUFHqzKPEKaOs3mlKTC6Qix2ePAM/M/ymWGiBEqohf
      tAQciTXi6lJk9QUwpECHTZTdx186BbA6p2wliAy3qqpi7eoOrfMEWbtJmdrbzK4K
      Gz6RvK6u
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA0rU+81sJl5h4paH6H6KToR1M5RezjMXQo9GIUu2evgd9Li0n
      RFsm9EVKnhGAMKAVjxc+NLrqB/hx7GYepLvioGG6L0YYadZxf5Tr9gDAYJ9v/+aa
      HZ9nVvxpkUn6fMyDHCNg/XaQCUj+QvnqUoK7viX/H/oJfU+tRXFE74WRtB6UpeBK
      Ns2VoGjw0Emf/I/Tuh3aLGCdQs+jJObdXbxP0pXsRqUJOH1azJWv6CAA7JW+/RRo
      g5maxJPx4VOXNO+S5vN4hWySq/ILl97y2RAAoTLukTJaO3tGDsLfgw0/ocff6DUG
      tArj7lkdpc8vkR3/98fcWuC2fNmwaDrXLb81ewIDAQABAoIBAEKXVVXDp7xpS3fN
      QSdOUinRAMRGQVB0FAQx7EuJHWohI8a8LnTD+gOpAnQCQ+kaLrYSOm6fw+bQ9fAo
      NfcKCg111UmrdXu9chFIF2qfwizHNrZBQuOpxRcQnqx0HN3kJGt4Iub32X2VvAWe
      xhddicgGaiLI+sbHr5MKwSaRqAKsNIlCt9fDwbUKbe30JxQk2r8DrnwJUT6GSzDf
      hx9Ayx+gqXPSBlHfynrDdRqfU1M0mEdI+AwPoW+js9kuD8Sv7dnXAEqb8U5cicw1
      ogdA3nJig0z4nKuoxRbFTudcFhZLOgwjslJapCcNI+kc2BMryHihMLPCltZG+KzQ
      hkWXhsECgYEA8y21qFh2JzmO9O6CvDQrdT6UiepcbN7dw+l4SvoJNcX6ZQWsbexi
      H/6GcI2iop9emSAuQCksn+EmCIbgzKtTIA3p6+YAIhWPfs6FxjJzhc3uZJ5hhwwQ
      P3sm/Ap4k/Ygt1GHynWn6hLsC2hAfdcGGuMr49yquKLC6Cwsse1/TGUCgYEA3dFE
      OoIkGCstAZy7p3ZfPbScCGAtW05lC70Ho1AfWIk/joP3/KVRwfEv+nU7Pju29N6Q
      iTF+UKBTRQ2xqsNcV9TsWniC756eXsxSX5zJTQDwORI2DsHKu27+ZtMeJSoapWIA
      aY4FwDByX8isDAEKmZSjXsXCXnJkHoKKsi2WrF8CgYEA1lgF9Lr0eiKL1WyeI5HA
      dHmSp/XBPd07j8GsXDoEADffO0hC8ikXXKgWjALrxXfABCyPV9JzGQF1arKoVv70
      KB7bfyieGWzzrIwQ8d/qX5hidqH7yPNjJvFALYx1N8YMlEjy7gvC09mV4YAkyEbN
      hMmUGCaa/F/KeKbnRnXWbNkCgYB/oWJ9u9Yi5ezuiY1cDPs+GQbStuxCJjhz6Z9U
      c8yld8tPKFXvU/xX+Hwfw4aEB339JXbKyeShZa6kA/4fgGtIymX4pHDKiV0ctLoM
      87zMBucyH21lTlJlSLcu2Pj2b2SHln0gPyzF6dpVjLSZ75t2xRS/elCdYXqEJ57A
      aQTSRwKBgQCjWlOCIofSHzp+H5pgdKwSKTv6ZXb4mT2mEUZO70ShM6c6VfQzsZA2
      oe+uDodKUVR0AoEgzltUxE9bFGIlDGjp5oLSuEsANfTf/q4qUOJFvGt2xcn4Ssax
      1GFxUmCCDClWf+7AShA+NEd09ob4//IpyB5G31kyXA7ltNZCP3gcFA==
      -----END RSA PRIVATE KEY-----
