Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDOzCCAiOgAwIBAgIJAPL8d9RuRCkEMA0GCSqGSIb3DQEBBQUAMDwxOjA4BgNV
      BAMTMWFjdGl2ZS1lbGFzdGljLWpvYi51cy1lYXN0LTEuZWxhc3RpY2JlYW5zdGFs
      ay5jb20wHhcNMjEwMTI1MjMxNjM3WhcNMzEwMTIzMjMxNjM3WjA8MTowOAYDVQQD
      EzFhY3RpdmUtZWxhc3RpYy1qb2IudXMtZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsu
      Y29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1fBuTXWoLxmf8nfn
      6aVo9KkQLxbOpkYXTM3kAbU+//dMDrd3FMr0NP6+H8jxdm9PYDNwofKkXVKS1Alp
      L+cGhpGPjd++ZZxZxMBt/HN6SdqMob+0AUNj298aOMUqkRAw4SRIWYbvVgOv5f5t
      GYFwkdVvmfI9VZrj8tYs758bo1901bHZO7a7aN+EqBCTxvYzK1QC8GU48S3flEdn
      nBKctK/WJMDBk8TAOrues8qF3tj1Vfeodt+Uo/9EY/ly/veI+Orpgxc9BaZFjgV+
      xGGmkbNIcVAbcD/s5rIpHz3J1sGOzsglyD1zNKm3ImRjfy0kWGAHpsM921Q9hXa0
      3Sei1wIDAQABo0AwPjA8BgNVHREENTAzgjFhY3RpdmUtZWxhc3RpYy1qb2IudXMt
      ZWFzdC0xLmVsYXN0aWNiZWFuc3RhbGsuY29tMA0GCSqGSIb3DQEBBQUAA4IBAQB6
      2eU/mHuY5VhxASMHj81PoBVlz4JJxhFrGJA9zMXuLAt82RImD0Ml4Tvc7sFO2Ns5
      xqiiBFacsRBpiJ3ZrPL01GZ/fiopGthHLu9gND+m/lghpnN8Tq1E3kFAQGRYuQyO
      aMOXi0Y7HUtwigRSWqmuY1L9fcWyIqSMQacRu8jjH94pmQauVhAaPJ6EENVB3moh
      Yz/F5s71egmeOxR623tOnnXdBhy+6wB0g7r6pBAwpXHwzxsGfMWrTI93iqqORKLa
      jRNxBZOqbm+afX8oLc/OEY5XFP7I5wa528XvIdhoN9r0r5pmNPmIJDGEe7tvsmLo
      FMIekKixTTRFt0yp57Ci
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEA1fBuTXWoLxmf8nfn6aVo9KkQLxbOpkYXTM3kAbU+//dMDrd3
      FMr0NP6+H8jxdm9PYDNwofKkXVKS1AlpL+cGhpGPjd++ZZxZxMBt/HN6SdqMob+0
      AUNj298aOMUqkRAw4SRIWYbvVgOv5f5tGYFwkdVvmfI9VZrj8tYs758bo1901bHZ
      O7a7aN+EqBCTxvYzK1QC8GU48S3flEdnnBKctK/WJMDBk8TAOrues8qF3tj1Vfeo
      dt+Uo/9EY/ly/veI+Orpgxc9BaZFjgV+xGGmkbNIcVAbcD/s5rIpHz3J1sGOzsgl
      yD1zNKm3ImRjfy0kWGAHpsM921Q9hXa03Sei1wIDAQABAoIBAFXTDTzvzVePzRWl
      OpkFrXQw+ngZiy8zARfjpOt2fV6MI6vnt9LUlGFKLJVttEhR4SLzn+SoBX4WqSZ8
      3ADGilyjulYtAyGaNnzywWy8GrvT/ATLdffnxACpoMhTeH8XYrR/LLMVqZ/0/LSk
      e7n2rmUinZHBlw9ngrihaQd76ceAwP7+rkpq8KxhhsR9PcX5tQRWnfLBhhVPoJjL
      X49T0sycqTHBOHf9PAlJI7Q34T7yqk2wUQR5txt13Ia6UUQDjwRiLqDHG9AO34lv
      vloFkOqkem3cPr363BvnpnIIUwOFAmJcfsovgcLzgIGeqenWm7kw0jNWK4nO4kXc
      eemHDTkCgYEA7iszqbU67gHwTlSOPXrirI25KERj2s/taEwLy6JleGFPiKFb5d/R
      Au5hA7zqpaekF1Oxd7T0HZlDMPqbprCR1o6n6x+pXTD6HpuGH/cW3PSiuBGHawnJ
      f3IaEbkUrv/E1wiKFpmzhXOkLv1yNIuvyl8hsvZ+MY5G7aFBxCwAFmUCgYEA5fTW
      4PcBDf7QGbpc4CnnYycE+hIV07oyR5/UKHnS0tJBvVwwJhLLiM9RMwa7DhlQcz9A
      hrqhFjk4YXWCmsocF+V+T/x9iSOa5F8GfEJX7u8gMQFHMsJiqQUgE8ylhCiYHUVk
      Pzzjc+sD9a001EOSpCTDaihQ0k59LoFRil0w8osCgYB4SCU9TiPG0//S720uq4MS
      9jhOl8t+VIhnphBG9WsdkreiHyvUOmbKfi1Mv/oZU0LR7RixhhfLYv3GHKrDUmU0
      4LL5UfIs+HE5R/5C4n0PdhU/tMqZSkYTMULtNHW3s8BrgQqMQ2+gtDh06tbkpq9P
      GyBfy5EL4fj8RfZ65mXc6QKBgEJedwI46BoE+ETkr9eW4IySf3I5dAlGzSo07AO+
      nWVxf73KdK8Yb5wN0e67O5OnJLwOfm4kQUfrveULCGXqfU88Ukd9pTHGj/bnojSM
      5Vo1tAHQz57L0bPcodR1FTRejwCrvXIu/arAIsVudzfoRNORNMFX33PDaYfZlRIt
      MWpfAoGAc+YUyxm3WpOyDmrM2UvnyY7JMaFhh3Ktfi1aHsE3hvSesoPMm8edj4Z/
      6dNZDJBGEJPKjwAYFTotrVJ+ov9eqNqc8EY6hdw2BzqVZTUUdvBYfFjZDhFXYWTm
      dXnMmiQEb1sQKxaqVoZ2MvLggbQ2FsEKl6Irs68euwUD/Qq+SpU=
      -----END RSA PRIVATE KEY-----
