*.gem
*.rbc
.bundle
.config
.yardoc
*.bundle
*.so
*.swp
*.swo
*.o
*.a
.env
.secret
.vagrant
.byebug_history
Gemfile.lock
.ruby-version
vendor
aws_policy.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
