<p id="notice"><%= notice %></p>

<p>
  <strong>Random string:</strong>
  <%= @random_string.random_string %>
</p>

<%= link_to 'Edit', edit_random_string_path(@random_string) %> |
<%= link_to 'Back', random_strings_path %>
