option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:967212041385:certificate/eed5f0a9-ec1f-4c93-9b9b-b7a23e63620f
  aws:elasticbeanstalk:environment:process:default:
    Port: '80'
    Protocol: HTTP
