option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: active-elastic-job
  - namespace: aws:ec2:instances
    option_name: InstanceTypes
    value: 't4g.large, t4g.medium'
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-0b0d3cae0ffa2a12b
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value:  subnet-010f937476ce3f6a3, subnet-02e4ca933eaa4809e
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-010f937476ce3f6a3, subnet-02e4ca933eaa4809e
    
